<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    CHORE BOT
  </div>
  <div class="data">
    <%= choreBot %>
  </div>
</div>



</body>
</html>
