<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <div class="title">
    PING BOT
  </div>
  <div class="data">
    <div class="data__apps">
      <div class="data__apps__title">
        Apps
      </div>
      <% for (var i = 0; i < bot.apps.length; i++) { %>
        <div class="data__apps__item">
          <div class="data__apps__item__domain-name">
            <%= bot.apps[i].domainName %>
          </div>
          <div class="data__apps__item__wake-up-time">
            Wakes up at <%= bot.apps[i].wakeUpTime %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>



</body>
</html>
